<!DOCTYPE html>
<html lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Вебинар | BRUSNIKA</title>
<meta name="description" content="Уникальный пошаговый мастер-класс по созданию новогодних handmade цветов.">
<meta name="keywords" content="brusnika, handmade, ручная работа, вебинар, бесплатный вебинар, флористика, фоамиран, цветочки, хобби, рукоделие, мастер-класс, цветы, своими руками">
<meta name="robots" content="noindex">
<meta property="og:title" content="Вебинар | BRUSNIKA">
<meta property="og:description" content="Уникальный пошаговый мастер-класс по созданию новогодних handmade цветов.">
<meta property="og:url" content="http://brusnika-flowers.ru/webinar/?utm_source=og">
<meta property="og:image" content="https://multimedia.getresponse.com/getresponse-SQq9z/photos/491537406.jpg">
<meta property="og:type" content="website">
<link rel="shortcut icon" href="https://multimedia.getresponse.com/getresponse-SQq9z/photos/490379106.png">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico|Roboto:400,700&amp;subset=cyrillic">
<link rel="stylesheet" href="css/style.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111458540-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());
	gtag('config', 'UA-111458540-1');
</script>
<script>
	!function (f, b, e, v, n, t, s) {
		if (f.fbq) return; n = f.fbq = function () {
			n.callMethod ?
				n.callMethod.apply(n, arguments) : n.queue.push(arguments)
		}; if (!f._fbq) f._fbq = n;
		n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
		t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
	}(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '139852890063676');
	fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=139852890063676&ev=PageView&noscript=1"/></noscript>
<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = 'https://vk.com/rtrg?p=VK-RTRG-199394-7W7ek';</script>
</head>
<body ng-app="App" ng-class="state.class" class="ng-cloak">
	<div class="b1">
		<div style="font-size: 16px; text-align: center;">Студия рукодельной флористики</div>
		<div class="brand"><span>B</span>rusnika</div>
		<div class="name">"Уникальный пошаговый мастер-класс<br>по созданию новогодних handmade цветов"<br>Бесплатный вебинар</div>
		<div class="container-1">
			<time style="font-size: 26px;font-weight: 700;text-align: right;display: block;" datetime="2017-12-28T19:30:00+03:00">28 декабря в 19:30</time>
			<div class="form-area clearfix">
				<div class="yt">
					<img src="16x9.png">
					<iframe src="https://www.youtube.com/embed/HIkMfgPjWNo?controls=1&amp;autoplay=0&amp;showinfo=0&amp;color=white&amp;rel=0" allowfullscreen=""
					 frameborder="0" width="100%" height="100%"></iframe>
				</div>
				<div class="head-1">
					Получить приглашение
				</div>
				<div class="head-2">
					Заполните форму и получите приглашение на вебинар
				</div>
				<form name="RegForm1" ng-submit="reg(RegForm1)" form-watch>
					<div>
						<input required="" type="text" placeholder="Имя" name="name" autocomplete="off" ng-model="form.name">
					</div>
					<div>
						<input required="" type="email" placeholder="Email" name="email" autocomplete="off" ng-model="form.email">
					</div>
					<div>
						<button type="submit">Хочу на вебинар</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="b2">
		<div class="container-2">
			<div class="head-1">На мастер-классе Вы...</div>
			<ul class="carousel clearfix">
				
				<li>
					<div class="head-item">Создадите новогодний цветок своими руками</div>
					<div class="img-wrap"></div>
					<div class="content-item">Удивите родных рукодельным подарком! Опыт и специальные знания не требуются!</div>
				</li>
				<li>
					<div class="head-item">Освоите новое хобби</div>
					<div class="img-wrap"></div>
					<div class="content-item">И присоединитесь к нашему сообществу мастеров handmade флористики.</div>
				</li>
				<li>
					<div class="head-item">Узнаете, как зарабатывать на любимом деле</div>
					<div class="img-wrap"></div>
					<div class="content-item">Как превратить хобби в бизнес и не стесняться продавать свои работы?</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="b3">
		<div class="container-2">
			<div class="head-1">Отзывы наших учеников</div>
			<ul class="carousel clearfix">
				<li>
					<div class="img-wrap"></div>
					<div class="content-item">«Наконец-то хорошо отдохнула от работы и дня сурка! Мы с девочками в творческой атмосфере общались, болтали и создали
						крутые цветочки. Теперь я делаю цветочные повязки для дочурки! Спасибо!»&nbsp;—&nbsp;Татьяна</div>
				</li>
				<li>
					<div class="img-wrap"></div>
					<div class="content-item">«Всегда думала, что у меня руки не из нужного места растут, а оказалось, что все просто и понятно. Сделала чудесную
						новогоднюю игрушку, благодаря Екатерине! Повешу на ёлку.»&nbsp;—&nbsp;Ольга</div>
				</li>
				<li>
					<div class="img-wrap"></div>
					<div class="content-item">«Я сделала розы по Вашему уроку в подарок коллегам и у меня заказали еще несколько композиций! Узнала как зарабатывать
						на творчестве и любимом хобби! Спасибо!»&nbsp;—&nbsp;Анна</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="b4">
		<div class="container-2">
			<div class="head-1">Не забудьте зарегистрироваться</div>
			<form name="RegForm2" ng-submit="reg(RegForm2)" form-watch>
				<div>
					<input required="" type="text" placeholder="Имя" name="name" autocomplete="off" ng-model="form.name">
				</div>
				<div>
					<input required="" type="email" placeholder="Email" name="email" autocomplete="off" ng-model="form.email">
				</div>
				<div>
					<button type="submit">Хочу на вебинар</button>
				</div>
			</form>
		</div>
	</div>
	<div class="b5">
		Спасибо за регистрацию!<br><br>
		Через несколько минут Вы получите информацию о вебинаре на свою почту.
		<div class="img-wrap"></div>
		<span class="boss">Екатерина Сорокина. Студия handmade флористики BRUSNIKA.</span>
	</div>
	<script>
window.onload = function () {
	var img = new Image();
	img.onload = function () {
		this.onload = null;
		document.getElementsByClassName('b1')[0].style.backgroundImage = 'url(' + JSON.stringify(this.src) + ')';
	};
	img.src = 'https://multimedia.getresponse.com/getresponse-SQq9z/photos/491535606.jpg';
	img = undefined;
};
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script>
angular.module('App', [])
.directive('formWatch',function(){
	return {
		restrict: 'A',
		require: 'form',
		link: function(s,e,a,c){
			var sended=false;
			s.$watch(c.$name+'.$pristine',function(p){
				if(p===false && !sended){
					sended=true;
					try{
						fbq('track', 'InitiateCheckout');
					}catch(err){}
					try{
						fbq('track', 'webinar-form-fill-' + c.$name);
					}catch(err){}
					try{
						gtag('event', 'webinar-form-fill-' + form.$name);
					}catch(err){}
					try{
						VK.Retargeting.Event('webinar-form-fill-'+c.$name);
					}catch(err){}
				}
			});
		}
	};
})
.config(['$locationProvider', function ($locationProvider) {
	$locationProvider.hashPrefix('');
}])
.run(['$rootScope', '$http', '$location', function ($rootScope, $http, $location) {
	$rootScope.form = {};
	var routes = {
		'/': { class: 'home' },
		'/thankyou': { class: 'thank-you' }
	};
	$rootScope.$on('$locationChangeSuccess', function () {
		var
			url = $location.url(),
			state = routes[url];
		if (state == null) {
			state = { class: 'not-found' };
			$location.url('/');
		}
		$rootScope.state = state;
	});
	$rootScope.reg = function (form) {
		if (form && form.$valid) {
			$http.get('http://webinar-brusnika.gr8.com/', { params: $rootScope.form }).finally(toThankYou);
			try{
				fbq('track', 'CompleteRegistration');
			}catch(err){}
			try {
				fbq('track', 'webinar-reg-'+form.$name);
			}catch(err){}
			try{
				gtag('event','webinar-reg');
			}catch(err){}
			try{
				gtag('event', 'webinar-reg-'+form.$name);
			}catch(err){}
			try {
				VK.Retargeting.Event('webinar-reg');
			}catch(err){}
			try {
				VK.Retargeting.Event('webinar-reg-'+form.$name);
			}catch(err){}
		} else {
			try{
				gtag('event', 'webinar-reg-invalid');
			}catch(err){}
			try {
				VK.Retargeting.Event('webinar-reg-invalid');
			}catch(err){}
		}
	};
	function toThankYou() {
		$location.url('/thankyou');
	}
}]);
	</script>
	<div id="vk_api_transport"></div>
	<script type="text/javascript">
		window.vkAsyncInit = function () {
			VK.Retargeting.Init('VK-RTRG-199394-7W7ek');
		};
		setTimeout(function () {
			var el = document.createElement("script");
			el.type = "text/javascript";
			el.src = "https://vk.com/js/api/openapi.js?151";
			el.async = true;
			document.getElementById("vk_api_transport").appendChild(el);
		}, 0);
	</script>
</body>
</html>